<template>
  <div v-for="(item, index) in selectedChannels" :key="index">
    <div data-test="selected-channel-list">
      <ChannelItem :item="item" />
    </div>
  </div>
</template>

<script>
import ChannelItem from "@/components/channels/ChannelItem.vue";
export default {
  name: "ChannelItemsList",

  components: { ChannelItem },

  props: {
    selectedChannels: {
      type: Array,
      required: true,
    },
  },
};
</script>
