<template>
  <div class="flex items-center cursor-pointer">
    <div class="flex items-center p-2">
      <FontAwesomeIcon :icon="item.icon" class="mr-2" />
      <div>{{ item.name }}</div>
    </div>
  </div>
</template>

<script>
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";

export default {
  name: "ChannelItem",

  components: { FontAwesomeIcon },

  props: {
    item: {
      type: Object,
      required: true,
    },
  },
};
</script>
