<template>
  <SectionManager :title="'Channels'">
    <template #header-buttons>
      <div class="flex items-center justify-end">
        <button
          class="px-3 ml-14"
          data-test="edit-channel"
          @click="showEditChannelsModal = true"
        >
          <FontAwesomeIcon :icon="$options.faEllipsis" />
          <span class="sr-only">Open search model</span>
        </button>
        <button
          class="mr-4"
          data-test="add-channel"
          @click="showAddChannelModal = true"
        >
          <FontAwesomeIcon :icon="$options.faPlus" />
          <span class="sr-only">Add new channel</span>
        </button>
      </div>
    </template>

    <template #content>
      <div class="channel-manager__content">
        <div v-if="!hasSelectedChannels">
          <div class="italic">
            Please add a channel to start receiving messages.
          </div>
        </div>

        <ChannelItemsList :selected-channels="selectedChannels" />

        <EditChannelsModal
          v-if="showEditChannelsModal"
          :selected-channels="selectedChannels"
          @close-modal="closeEditChannelsModal"
          @apply-changes="applyChangesAndCloseModal"
        />

        <NewChannelModal
          v-if="showAddChannelModal"
          :available-channels="availableChannels"
          @close-modal="showAddChannelModal = false"
          @add-channel="addChannel"
        />
      </div>
    </template>
  </SectionManager>
</template>

<script>
import NewChannelModal from "@/components/channels/NewChannelModal.vue";
import EditChannelsModal from "@/components/channels/EditChanneslModal.vue";
import ChannelItemsList from "@/components/channels/ChannelItemsList.vue";

import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";

import {
  faEllipsis,
  faChevronRight,
  faPlus,
} from "@fortawesome/free-solid-svg-icons";

import ChannelsService from "@/service/channels.service.js";
import channelsStore from "@/store/channels";
import SectionManager from "@/components/common/SectionManager.vue";

export default {
  name: "ChannelManager",

  faPlus,
  faEllipsis,
  faChevronRight,

  components: {
    SectionManager,
    ChannelItemsList,
    EditChannelsModal,
    NewChannelModal,
    FontAwesomeIcon,
  },

  props: {
    title: {
      type: String,
      default: "",
    },
  },

  data() {
    return {
      isCollapsed: true,
      showEditChannelsModal: false,
      showAddChannelModal: false,
      availableChannels: [],
    };
  },

  computed: {
    /** @returns {array} */
    selectedChannels() {
      return channelsStore.state.selectedChannels;
    },

    /** @returns {boolean} */
    hasSelectedChannels() {
      return channelsStore.state.selectedChannels.length > 0;
    },
  },

  created() {
    this.availableChannels = ChannelsService.getChannels();
  },

  methods: {
    closeEditChannelsModal() {
      this.showEditChannelsModal = false;
    },

    addChannel(item) {
      item = { ...item };
      // workaround to make sure that the item is unique as user might have different channels with same name
      // for instance 2 emails
      // as the alternative uuid could be used
      item.id = Date.now();
      channelsStore.commit("addChannel", item);
    },

    applyChangesAndCloseModal(channels) {
      channelsStore.commit("setChannels", channels);
      this.closeEditChannelsModal();
    },
  },
};
</script>
<style>
.channel-manager__content {
  height: 22rem;
  overflow-y: scroll;
}
</style>
