<template>
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity">
    <div
      class="edit-channels__modal bg-white rounded-lg overflow-hidden mx-auto my-12"
      data-test="edit-channels-list-modal"
    >
      <div class="p-6"><h1>Channels</h1></div>

      <SearchBar
        :query="searchQuery"
        :place-holder="'Search'"
        data-test="search-bar"
        @search="search"
        @clear="resetSearch"
      />

      <div v-if="!hasSelectedChannels" data-test="empty-state-message">
        <div class="edit_channels__empty-state italic m-5">
          You have not added any channels yet. Please add a channel to start
          receiving messages.
        </div>
      </div>

      <div v-else class="edit_channels__list m-5">
        <ul class="mr-3">
          <li
            v-for="(item, index) in filteredChannelItems"
            :key="index"
            class="draggable"
            :draggable="true"
            @dragstart="dragStart(index)"
            @dragend="dragEnd"
            @dragover.prevent
            @drop="drop(index)"
          >
            <div
              class="flex justify-between items-center"
              data-test="channel-items-list"
            >
              <div class="flex items-center">
                <FontAwesomeIcon
                  :icon="$options.faGripVertical"
                  class="text-gray-300 ml-2"
                />
                <ChannelItem :item="item" class="m-2" />
              </div>
              <ActionButton
                mode="remove"
                :data-test="`remove-channel-button-${index}`"
                @click="removeSelectedChannel(item.id)"
              >
                Remove
              </ActionButton>
            </div>
          </li>
        </ul>
      </div>

      <hr />

      <div class="flex justify-end m-5">
        <ActionButton
          mode="primary"
          class="mr-3"
          data-test="cancel-button"
          @click="cancelChangesAndCloseModal"
        >
          Cancel
        </ActionButton>

        <ActionButton
          mode="secondary"
          data-test="apply-button"
          @click="applyChangesAndCloseModal"
        >
          Apply
        </ActionButton>
      </div>
    </div>
  </div>
</template>

<script>
import ChannelItem from "@/components/channels/ChannelItem.vue";
import ActionButton from "@/components/common/ActionButton.vue";
import SearchBar from "@/components/common/SearchBar.vue";

import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { faGripVertical } from "@fortawesome/free-solid-svg-icons";

export default {
  name: "EditChannelsModal",

  faGripVertical,

  components: {
    FontAwesomeIcon,
    SearchBar,
    ActionButton,
    ChannelItem,
  },

  props: {
    selectedChannels: {
      type: Array,
      required: true,
    },
  },

  emits: ["close-modal", "apply-changes"],

  data() {
    return {
      searchQuery: "",
      tempChannels: [],
      draggedIndex: null,
    };
  },

  computed: {
    /** @returns {boolean} */
    hasSelectedChannels() {
      return this.tempChannels.length > 0;
    },

    /** @returns {Array} */
    filteredChannelItems() {
      if (!this.searchQuery) {
        return this.tempChannels;
      }

      return this.tempChannels.filter((item) => {
        return item.name.toLowerCase().includes(this.searchQuery.toLowerCase());
      });
    },
  },

  created() {
    this.tempChannels = [...this.selectedChannels];
  },

  methods: {
    cancelChangesAndCloseModal() {
      this.$emit("close-modal");
    },

    search(searchQuery) {
      this.searchQuery = searchQuery;
    },

    resetSearch() {
      this.searchQuery = "";
    },

    removeSelectedChannel(id) {
      this.tempChannels = this.tempChannels.filter((item) => item.id !== id);
    },

    applyChangesAndCloseModal() {
      this.$emit("apply-changes", this.tempChannels);
    },

    dragStart(index) {
      this.draggedIndex = index;
    },

    dragEnd() {
      this.draggedIndex = null;
    },

    drop(destinationIndex) {
      const sourceElement = this.tempChannels[this.draggedIndex];
      const targetElement = this.tempChannels[destinationIndex];
      const temp = sourceElement;
      this.tempChannels[this.draggedIndex] = targetElement;
      this.tempChannels[destinationIndex] = temp;
    },
  },
};
</script>

<style scoped>
.edit-channels__modal {
  width: 100%;
  height: 100%;
  max-width: 32rem;
  max-height: 38rem;
  overflow-y: scroll;
}
.edit_channels__empty-state,
.edit_channels__list {
  height: 22rem;
  overflow-y: scroll;
}
</style>
