<template>
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity">
    <div
      class="add-channel__modal bg-white rounded-lg overflow-hidden mx-auto my-12 p-8"
      data-test="add-channel-modal"
    >
      <div class="pt-6 pb-6">
        <h1 class="mb-3">Add a channel</h1>
        <SearchBar
          :query="searchQuery"
          :place-holder="'Search'"
          data-test="search-bar"
          @search="search"
          @clear="resetSearch"
        />
      </div>

      <div
        class="add-channel__available-channels grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-2 gap-3 mb-2 mt-4 px-5 sm:mt-0"
      >
        <button
          v-for="(channel, index) in filteredChannelItems"
          :key="index"
          class="mb-4 rounded-lg border border-gray-100 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:border-green-700 focus:bg-gray-100"
          :data-test="`add-channel-button-${index}`"
          @click="addChannel(channel)"
        >
          <span
            class="flex flex-col items-center"
            :data-test="`selected-channel-${index}`"
          >
            <span class="flex items-center justify-center w-12 h-12">
              <FontAwesomeIcon :icon="channel.icon" class="w-6 h-6" />
            </span>
            <span class="text-sm leading-4 font-semibold">
              {{ channel.name }}
            </span>
          </span>
        </button>
      </div>

      <hr />

      <div class="flex justify-end">
        <ActionButton
          mode="primary"
          class="mt-4"
          data-test="close-modal"
          @click="cancelChangesAndCloseModal"
        >
          Close
        </ActionButton>
      </div>
    </div>
  </div>
</template>

<script>
import ActionButton from "@/components/common/ActionButton.vue";
import SearchBar from "@/components/common/SearchBar.vue";

import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";

export default {
  name: "NewChannelModal",

  components: { ActionButton, SearchBar, FontAwesomeIcon },

  props: {
    availableChannels: {
      type: Array,
      required: true,
    },
  },

  emits: ["close-modal", "add-channel"],

  data() {
    return {
      searchQuery: "",
    };
  },

  computed: {
    /** @returns {Array} */
    filteredChannelItems() {
      if (!this.searchQuery) {
        return this.availableChannels;
      }

      return this.availableChannels.filter((channel) =>
        channel.name.toLowerCase().includes(this.searchQuery.toLowerCase())
      );
    },
  },

  methods: {
    cancelChangesAndCloseModal() {
      this.$emit("close-modal");
    },

    addChannel(channel) {
      this.$emit("add-channel", channel);
    },

    search(query) {
      this.searchQuery = query;
    },

    resetSearch() {
      this.searchQuery = "";
    },
  },
};
</script>

<style scoped>
.add-channel__modal {
  max-width: 45rem;
  max-height: 36rem;
}

.add-channel__available-channels {
  height: 20rem;
  overflow-y: scroll;
}
</style>
