<template>
  <div
    class="scroll-on-hover overflow-y-auto overflow-x-hidden flex flex-col sn flex-none w-56 ml-10 mr-10 mt-20 pr-0 lg:border-r border-grey-300 text-15 bg-white"
  >
    <SectionManager :title="'Inbox'">
      <template #content>
        <span class="italic">Placeholder for Inbox items</span>
      </template>
    </SectionManager>
    <SectionManager :title="'Personal'">
      <template #content>
        <span class="italic">Placeholder for Personal</span>
      </template>
    </SectionManager>
    <SectionManager :title="'Teams'">
      <template #content>
        <span class="italic">Placeholder for Teams</span>
      </template>
    </SectionManager>
    <ChannelManager />
  </div>
</template>

<script>
import ChannelManager from "@/components/channels/ChannelManager.vue";
import SectionManager from "@/components/common/SectionManager.vue";
export default {
  name: "SideBar",

  components: {
    ChannelManager,
    SectionManager,
  },

  props: {
    title: {
      type: String,
      required: false,
    },
  },
};
</script>

<style scoped>
.scroll-on-hover {
  overflow-y: scroll;
  max-height: 80vh;
}
</style>
