<template>
  <button :class="classes" :disabled="disabled">
    <slot />
  </button>
</template>

<script>
export default {
  name: "ActionButton",

  props: {
    mode: {
      type: String,
      required: false,
      default: "primary",
      validator: (value) => {
        return ["primary", "secondary", "remove"].includes(value);
      },
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false,
    },
  },

  computed: {
    classes() {
      return `action-button action-button--${this.mode}`;
    },
  },
};
</script>

<style>
.action-button {
  width: 100px;
  height: 45px;
  text-align: center;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.action-button:disabled {
  background-color: rgba(219, 219, 219);
  cursor: not-allowed;
}

.action-button:hover {
  background-color: rgba(128, 128, 128, 0.2);
}

.action-button--primary {
  border: 2px solid rgba(208, 208, 208);
}

.action-button--secondary {
  background: #000000;
  color: white;
}

/*
Even though in the design we have a grey button, I would prefer the red one.
If the button removes an item it should be red, so user knows that it's dangerous.

I would go for something like this:
.action-button--delete {
  border: 2px solid red;
}
*/
.action-button--remove {
  border: none;
}
</style>
