<template>
  <form class="mr-5 ml-5" @submit.prevent="search">
    <input
      v-model="inputValue"
      :placeholder="placeHolder"
      class="border-2 border-gray-200 rounded-lg block w-full h-10 pl-7 sm:text-sm focus:outline-none focus:border-gray-400"
      :spellcheck="false"
      type="text"
      @input="search"
    />
  </form>
</template>

<script>
export default {
  name: "SearchBar",

  props: {
    query: {
      type: String,
      required: false,
      default: "",
    },

    placeHolder: {
      required: false,
      type: String,
      default: "",
    },
  },

  emits: ["search"],

  data() {
    return {
      inputValue: "",
    };
  },

  computed: {
    searchQuery() {
      return this.inputValue.trim();
    },
  },

  methods: {
    search() {
      this.$emit("search", this.searchQuery);
    },
  },
};
</script>
