<template>
  <div class="flex mb-5">
    <button
      type="button"
      class="pr-2"
      :data-test="`expand-button-${title}`"
      @click="isCollapsed = !isCollapsed"
    >
      <FontAwesomeIcon
        :icon="$options.faChevronRight"
        :class="{ 'chevron-icon--open': isCollapsed }"
      />
      <span class="sr-only">
        {{ isCollapsed ? "Hide card content" : "Show card content" }}
      </span>
    </button>
    <h2>{{ title }}</h2>
    <div v-if="isCollapsed"><slot class="mr-5" name="header-buttons" /></div>
  </div>
  <div v-if="isCollapsed" class="mb-5 w-52"><slot name="content" /></div>
</template>

<script>
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { faChevronRight } from "@fortawesome/free-solid-svg-icons";

export default {
  name: "SectionManager",

  faChevronRight,

  components: { FontAwesomeIcon },

  props: {
    title: {
      type: String,
      required: false,
    },
  },

  data() {
    return {
      isCollapsed: false,
    };
  },
};
</script>

<style scoped>
.chevron-icon--open {
  transform: rotate(90deg);
}
</style>
