@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
        @apply
            font-sans
            text-gray-900
    }
    h1 {
        @apply
            text-gray-800
            font-bold
            text-2xl

    }
    h2 {
        @apply
            text-gray-800
            font-bold
            text-lg
    }
}